
.btn-primary{
    background-color: #457B9D!important;
}

.primary
{
    background-color:  #1D3557 ;
}
.nav-text
{
    color: #F1FAEE!important;
}
#navbarScrollingDropdown
{
    color: #F1FAEE!important;
}
.terciary
{
    background-color: #1D3557;
    color: #F1FAEE;
}
.terciary a
{
    color: #F1FAEE;
}
header
{
 background-color:#457B9D;
 color: #F1FAEE;
}

p
{   text-align: center;
    size: 50PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1D3557;
    padding: 10px;
}
